
@font-face{
    font-family:'Rubik-Bold';
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
}


@font-face{
    font-family:'Rubik-Medium';
    src: url('fonts/Rubik-Medium.ttf') format('truetype');
}


.runnername {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Horizontally center items */
    text-align: center;
    line-height: 66px;
    font-family: 'Rubik-Bold';
    color: #cacacb;
    font-size: 40px;
	z-index: 2;
}
.runnerflag {
    vertical-align: top; /* or 'top' depending on your preference */
}
#name1 {	
	left: 115px;
	top: 467px;
	width: 838px;
	height: 66px;	
}
#name2 {	
	left: 967px;
	top: 467px;
	width: 838px;
	height: 66px;
}
#name3 {
	left: 115px;
	top: 1014px;
	width: 838px;
	height: 66px;
}



.layout {
	background-image: url('images/Ladder_League_3Person.png');
	width: 1920px;
	height: 1080px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position:absolute;
	left:0px;
	top:0px;
}

.opener{	
	background-image: url('images/Ladder_League_StartingSoon.jpg');
	width: 1920px;
	height: 1080px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position:absolute;
	left:0px;
	top:0px;	
}


.summary{	
	position: relative;
    width: 1920px;
    height: 1080px;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Background div is above the image */
}


.racetitle {
	font-family: 'Rubik-Bold';
	color:#cacacb;
	font-size: 95px;
	padding-bottom: 20px;
}

.racetitle-summary {
	position: relative;
	font-family: 'Rubik-Bold';
	color:#cacacb;
	font-size: 75px;
	padding-top: 40px;
	z-index: 2;
}
	
#img1{
	position:absolute;
	top: 181px;
	left: 212px;
	width: 365px;
	height: 262px;
	z-index: 0;
}
#img2{
	position:absolute;
	top: 181px;
	left: 778px;
	width: 365px;
	height: 262px;
	z-index: 0;
}
#img3{
	position:absolute;
	top: 181px;
	left: 1344px;
	width: 365px;
	height: 262px;
	z-index: 0;
}


#summary-name1 {	
	font-size:32px;
	left: 212px;
	top: 443px;
	width: 365px;
	height: 75px;	
}
#summary-name2 {
	font-size:32px;	
	left: 778px;
	top: 443px;
	width: 365px;
	height: 75px;	
}
#summary-name3 {
	font-size:32px;
	left: 1344px;
	top: 443px;
	width: 365px;
	height: 75px;	
}	


.result-info{
	position:relative;
	font-family: 'Rubik-Medium';
	color:#cacacb;
	font-size: 28px;
	text-align: start;
}	
.final-time-img {
    height: 38px; 
    width: 30px;
	padding-bottom: 8px;
}

#final-info-p1{
	position: absolute;
	left: 231px;
	top: 518px;
	width: 326px;
	height: 370px;
	z-index: 2;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
#loading-container-p1 {
	position: absolute;
	left: 231px;
	top: 518px;
	width: 326px;
	height: 370px;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
#final-info-p2{
	position: absolute;
	left: 797px;
	top: 518px;
	width: 326px;
	height: 370px;
	z-index: 2;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
#loading-container-p2 {
	position: absolute;
	left: 797px;
	top: 518px;
	width: 326px;
	height: 370px;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
#final-info-p3{
	position: absolute;
	left: 1363px;
	top: 518px;
	width: 326px;
	height: 370px;
	z-index: 2;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
#loading-container-p3 {
	position: absolute;
	left: 1363px;
	top: 518px;
	width: 326px;
	height: 370px;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.raceversus {
	position:absolute;
	left: 725px;
	top: 215px;
	width: 930px;
	height: 704px;
	font-family: 'Rubik-Bold';
		color:#cacacb;
}
	
.raceparticipants {
	font-size: 55px;
	margin: 2px;
	width: 1800px !important
}


.statistics {
	display: flex;
	position: absolute;
	width: 672px;
	height: 177px;
	left: 1050px;
	top: 850px;
	font-family: 'Rubik-Bold';
}
.carousel-overlay {
	color:#cacacb;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	z-index: 999;
	text-align: center;	
  }
.carousel-header{
	font-size: 32px;
}
.carousel-commands{
	font-size: 22px;
}

.carousel-overlay-item {
    flex-grow: 1;
	width: 1000px;
}
.carousel-inner .carousel-item {
    transition-duration: 2s;
  }
.container{
	width:100%;
	text-align: center;
	color:#cacacb;
}
.runner-first {
	color: #cacacb; 
}
.runner-behind {
	color: #cacacb; 
}
.commentators {
	position: absolute;
		left: 1100px;
	top: 580px;
	width: 234px;
	height: 233px;

	font-family: 'Rubik-Bold';
	color:#cacacb;
	display:flex;
	align-items: center;
  	display : flex;
  	align-items : center;
}

.timer {
	position: absolute;
	width: 301px;
	height: 109px;
	left: 1420px;
	top: 580px;
	text-align: center;
	line-height: 109px;
	color:#cacacb;
	font-size: 60px;
	font-family: 'Rubik-Bold';
}
.block {
  text-align: center;
  margin: 20px;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
 }


.child {
  width: 223px;
}


.overlay-p1 {
    position: absolute;
    top: 0;
    left: 115px;
    width: 838px;
    height: 467px;
    background-color: rgba(0, 0, 0, 0.95);
}
.overlay-p2 {
    position: absolute;
    top: 0;
    left: 967px;
    width: 838px;
    height: 467px;
    background-color: rgba(0, 0, 0, 0.95); 
}

.overlay-p3 {
    position: absolute;
    top: 547px;
    left: 115px;
    width: 838px;
    height: 467px;
    background-color: rgba(0, 0, 0, 0.95); 
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    width: 100%;
	font-family: 'Rubik-Bold';
	font-size: 54px;
}

.good {
    color: green;
}

.bad {
    color: red;
}