
@font-face{
    font-family:'Rubik-Bold';
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
}


@font-face{
    font-family:'Rubik-Medium';
    src: url('fonts/Rubik-Medium.ttf') format('truetype');
}

#rotating-field {
    width: 600px;
    height: 200px;
    background-color: #21283f;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}


.runner-table {
    border-collapse: separate;
    border-spacing: 15px 0;
    border: none;
    table-layout: fixed;
    font-family: 'Rubik-Medium';
}

.runner-table th, .runner-table td {
    color:#cacacb;
    font-size: 28px;
    letter-spacing: -1px; 
    width: 400px;
    padding-bottom: 20px;
}

.runner-table .delta-cell-first {
    color: green;    
}

.runner-table .delta-cell-trailing {
    color: red
}


.runner-table th,
.runner-table td {
    width: 100px; /* Set the width to your desired value */
    /* You can adjust the width value as needed */
    /* Optionally, you can also set other properties like padding, text-align, etc. */
    padding-left: 55px; /* Example padding */
    text-align: center; /* Example text alignment */
}

.runner-table th{
    font-size: 30px;
}


.command-text{    
    padding-top: 50px;
    padding-left: 55px;
    color:#cacacb;
    font-size: 30px;
    font-family: 'Rubik-Medium';    
    display: flex;
    align-items: center;  
    text-align: start;  
    justify-content: flex-start;
}

.racename-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.racename{
    font-family: 'Rubik-Bold';
    color:#cacacb;
    font-size: 65px;
    padding: 20px 20px
}


.result {
    font-family: 'Rubik-Bold';
    font-size: 60px;
    margin-bottom: 10px;            
}
.time {
    font-family: 'Rubik-Bold';
    font-size: 50px;    
}

.final-info{
    font-family: 'Rubik-Medium';  
    color: #cacacb;
    font-size: 34px;
}

.final-time {
    position: relative;
}
.final-time img {
    position: absolute;
    top: 2px;
    left: 162px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    width: 30px; /* Adjust as needed */
}

